@import url('https://fonts.cdnfonts.com/css/edo-sz');

table,
td,
th {
    border: 1px solid antiquewhite;
}
#data{
    height:30px;
    text-align: center;
}

td:hover,
th:hover {
    color: aqua;
}

td,
th {
    padding: 10px 20px;
    text-align: center;
}
tr:first-child{
    background-color: hotpink;
}

table {
    border-collapse: collapse;
    background-color: grey;
}

body{
    margin:0;
}

a{
    text-decoration: none;
}